body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000;
}

header {
  background-color: #080202;
  color: #fff;
  padding: 15px 0;
  width: 100%;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: -50px;
}

.logo img {
  max-width: 100px;
  /* Ajusta el tamaño del logo según tus necesidades */
  margin-right: 0px;
  /* Espaciado entre el logo y el título */
}

.container-1 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descripcion {
  margin: 0;
  font-size: 40px;
  color: #ff0303;
  text-align: center;
  line-height: .5;
  font-family: 'Roboto', sans-serif; /* Cambia la fuente a Roboto */
  text-shadow: 2px 2px 4px rgba(112, 191, 255, 0.651); /* Agrega una sombra al texto del título */
}

.p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  max-width: 1000px;
  /* Establece el ancho máximo de la descripción */
  margin: 0 auto;
  /* Centra la descripción horizontalmente */
  padding: 20px;
  /* Añade un relleno alrededor de la descripción */
  border: 3px solid #000000;
  /* Añade un borde */
  border-radius: 10px;
  /* Agrega esquinas redondeadas */
  background-color: #ca8f22;
}

.int {
  margin: 50px;
  font-size: 30px;
  color: #000000;
  font-family: 'Arial', sans-serif;
  line-height: .5;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 90px;
}

.carousel-container {
  display: flex;
}

.carousel {
  width: 200px;
  margin-right: 15px;
  overflow: hidden;
  margin-top: -310px;
  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 0 0 0 5px #4475b2, 0 0 20px 20px #4883bf;
}

.carousel-item {
  width: 100%;
  display: none;
}

.description-container {
  margin-top: -260px;
  margin-left: 20px;
}

.optm {
  color: white;
  margin-bottom: 70px;
}

.optm1 {
  background-color: #4475b2;
  line-height: 1.5;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-top: -20px;
  border: 3px solid transparent;
  border-radius: 20px;
  position: relative;
  /* Agrega el borde con efecto de nube y ondas */
  box-shadow: 0 0 0 10px #4475b2, 0 0 0 10px #000000, 0 0 20px 20px #4475b2;
}

.optm1 a {
  text-decoration: none; /* Elimina la decoración del enlace */
}
/* Estilos generales según tu preferencia */

.container-3 {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  margin-top: -200px;
}

.carousel-container1 {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 0 10px #4475b2, 0 0 0 10px #000000, 0 0 20px 20px #4475b2;
}

.carousel-item1 {
  width: 100%;
  display: none;
}

.carousel-item1.active {
  display: block;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #ffffff;
  z-index: 1;
  top: 40%; /* Ajusta este valor para cambiar la posición vertical */
  cursor: pointer;
}

.slick-prev:hover,
.slick-next:hover {
  color: #555;
}

.slick-prev::before,
.slick-next::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.slick-prev::before {
  content: "\f053"; /* Ícono de flecha izquierda */
}

.slick-next::before {
  content: "\f054"; /* Ícono de flecha derecha */
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffd700;
}

/* Estilos para pantallas grandes (laptop, computadora) */
@media screen and (min-width: 768px) {
  #menu-toggle {
    display: none;
    /* Oculta el botón de alternar el menú en pantallas más grandes */
  }

  nav ul {
    display: flex !important;
    /* Asegura que la lista de navegación esté visible en pantallas más grandes */
  }
}

/* Estilos para pantallas pequeñas (celular) */
@media screen and (max-width: 767px) {
  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    /* Ajusta para posicionar la lista en el lado derecho */
    width: 100%;
    max-width: 200px;
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    z-index: 1;
  }

  nav li {
    margin: 0;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #fff;
  }

  nav li:last-child {
    border-bottom: none;
  }

  nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: #ffd700;
  }

  /* Ajusta el botón para mostrar/ocultar el menú */
  #menu-toggle {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
    /* Color del botón (blanco) */
    background-color: #000;
    /* Color de fondo del botón (negro) */
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
    /* Añade un poco de espacio alrededor del botón */
    border: none;
    /* Elimina el borde del botón */
    border-radius: 5px;
    /* Agrega esquinas redondeadas al botón */
  }

  #menu-toggle:hover {
    background-color: #222;
    /* Cambia el color de fondo al pasar el ratón sobre el botón */
  }

  /* Ajusta el espacio a la derecha del contenedor principal para dejar espacio para el logo */
  .container {
    padding-right: 60px;
    /* Puedes ajustar este valor según sea necesario */
  }

  /* Estilos para el logo en el menú desplegable */
  .logo img {
    max-width: 150px;
    margin-bottom: 10px;
  }

  .descripcion {
    margin: 0;
    font-size: 25px;
    color: #000000;
    text-align: center;
    font-family: 'Arial', sans-serif;
    line-height: .8;
  }

  .p {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    max-width: 300px;
    /* Establece el ancho máximo de la descripción */
    margin: 0 auto;
    /* Centra la descripción horizontalmente */
    padding: 20px;
    /* Añade un relleno alrededor de la descripción */
    border: 1px solid #000000;
    /* Añade un borde */
    border-radius: 10px;
    /* Agrega esquinas redondeadas */
  }
  .carousel {
    width: 200px;
    overflow: hidden;
    margin-top: -310px;
    border-radius: 10px;
    border: 5px solid #000000;
  }
  .optm1 {
    background-color: #4475b2;
    line-height: 1.5;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -20px;
    border: 3px solid transparent;
    border-radius: 20px;
    position: relative;
  
    /* Agrega el borde con efecto de nube y ondas */
    box-shadow: 0 0 0 15px #4475b2, 0 0 0 20px #000000, 0 0 20px 20px #4475b2;
  }
  .container-2 {
    align-items: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 60vh;
    margin-top: 90px;
  }
}